{% if site.navigation_header %}
<nav class="nav  nav--header ">
  <ul class="list  list--nav ">
    {% for item in site.navigation_header %}

      {% if item.children %}
        {% assign is_current_parent = false %}
        {% for child in item.children %}
          {% if child.url == page.url %}{% assign is_current_parent = true %}{% endif %}
        {% endfor %}
        <li class="item  item--nav  item--dropdown{% if is_current_parent %}  item--current{% endif %}">
          <a class="hover-underlines  dropdown-label" tabindex="0" role="button" aria-haspopup="true">{{ item.title }}&nbsp;&#9662;</a>
          <ul class="list  list--dropdown">
            {% for child in item.children %}
              {% if child.url contains '://' %}
                {% assign churl = child.url %}
              {% else %}
                {% assign churl = child.url | relative_url %}
              {% endif %}
              <li class="item  item--nav{% if child.url == page.url %}  item--current{% endif %}">
                <a href="{{ churl }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}

        {% if item.url contains '://' %}
          {% assign url = item.url %}
        {% else %}
          {% assign url = item.url | relative_url %}
        {% endif %}

        <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
          <a class="hover-underlines" href="{{ url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>
